.testimonial-section-container {
  margin: 0 auto;
  padding: 0 100px;
  overflow: hidden;
  gap: 54px;
  display: flex;
  flex-direction: column;
}

.testimonial-badge {
  display: inline-block;
  padding: 11px 18px;
  font-size: 14px;
  line-height: 20.3px;
  margin-bottom: 18px;
}

.testimonial-header {
  width: 1240px;
  text-align: center;
}

.testimonial-heading {
  margin: 0;
  font-weight: 200;
  font-size: 54px;
  line-height: 59.94px;
}

.testimonial-scroll-container {
  max-width: 1440px;
  height: 670px;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  

  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.testimonial-grid-wrapper {
  display: flex;
  flex-direction: column;
  animation: scrollVertical 5s linear infinite;
  animation-play-state: running;
  width: 100%;
}


.testimonial-grid {
  column-count: 3;
  column-gap: 22px;
  max-width: 1300px;
  margin: 0 auto;
}

.testimonial-card {
  background: #111;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 29px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* gap: 25px;
  width: 100%; */
  margin-bottom: 22px;
  /* break-inside: avoid;
  page-break-inside: avoid; */
}

@keyframes scrollVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 18px;
}

.testimonial-avatar {
  width: 47px;
  height: 47px;
  background: #171802;
  border: 1px solid #363804;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10.5px;
}

.testimonial-avatar img {
  width: 26px;
  height: 26px;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.testimonial-name,
.testimonial-role,
.testimonial-review,
.testimonial-rating {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 23.2px;
}

.testimonial-name {
  color: white;
}

.testimonial-role,
.testimonial-review {
  color: #a6a6a6;
}

.testimonial-rating {
  display: flex;
  gap: 10px;
  color: #FFBE0D;
}

.rating-name {
  font-style: bold;
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
}


