



.seen-on-section {
  width: 1240px;
  height: 183.19px;
  margin: 0 auto;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  text-align: center;
  position: relative; 
  opacity: 0.6;
/* padding-bottom: 60px; */
  position: relative;
   background: radial-gradient(
  36.2% 69.16% at 51.5% 100%,  
  rgba(255, 255, 255, 0.25) 0%, 
  rgba(255, 255, 255, 0) 62%
);


}

.seen-title {
  font-size: 16px;
  color: #aaa;
  font-weight: 400;
  padding: 0 533.85px; 
}


.carousel-wrapper {
  width: 900px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  
}


.carousel-track {
  display: flex;
  gap: 104px;
  width: max-content;
  animation: scrollLoop 15s linear infinite;
}

.carousel-track img {
  width: 121px;
  height: 33px;
  object-fit: contain;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.carousel-track img:hover {
  opacity: 1;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.Horizondal-divider {
  /* position: absolute; */
  width: 100%;
  /* bottom: 0;
  left: 50%;
  transform: translateX(-50%); */

/* width: 1240px; */
/* height: 1px; */


 

 background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.44) 0%, rgba(255, 255, 255, 0) 100%);



 
}