

.navbar {

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.logo {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links li {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 20.3px;
  letter-spacing: 0;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}


.demo-icon {
  width: 16px;
  height: 16px;
}
.demo-button {
  display: flex;
  align-items: center;
  border: 1px solid #FFBE0D;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
  /* transition: all 0.3s; */

  
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 23.2px;
  letter-spacing: 0;
  vertical-align: middle;

  display: flex;
  align-items: center;
  gap: 8px;
border-radius: 30px;

  width: 177.67379760742188;
height: 44;

top: 63px;
left: 1207.33px;


padding-top: 10px;
padding-right: 21px;
padding-bottom: 10px;
padding-left: 21px;





}


.demo-button:hover,
.nav-links li:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}