.pricing-wrapper {
  max-width: 1440px;
  padding: 0 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 54px;
  font-family: 'Montserrat';
}

.pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 177px;
  gap: 18px;
}

.pricing-badge {
  width: 86px;
  border-radius: 30px;
  padding: 11px 18px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-heading {
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 50px;
  line-height: 59.94px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 0;
  font-style: normal;
}

.pricing-cards {
  box-sizing: border-box;
  width: 1220px;
  display: flex;
  gap: 22px;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}


.pricing-card {
  border-radius: 25px;
  border: 1px solid rgba(49, 49, 49, 1);
  background: rgba(20, 20, 20, 1);
  gap: 5px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
}

.pricing-type {
  color: rgba(166, 166, 166, 1);

  font-size: 16px;
  line-height: 23.2px;
  font-weight: 400;
  font-style: normal;
}

.pricing-price {
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 69.6px;
}

.pricing-period {
  font-size: 22px;
  margin-left: 8px;
  
  font-weight: 400;
  font-style: normal;
  line-height: 27.94px;
}

.pricing-note {
  padding-bottom: 1px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  text-decoration: underline;
}

.pricing-includes {
  padding-top: 37px;
 
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23.2px;
  color: rgba(166, 166, 166, 1);
}

.pricing-features {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 7px;
  list-style: none;
  padding-left: 0;
}

.pricing-features li {
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 16px;

  font-weight: 400;
  font-style: normal;
  line-height: 23.2px;
  color: rgba(255, 255, 255, 1);
}

.icon {
  width: 16px;
  height: 17px;
}

.pricing-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 37px;
}

.pricing-btn {
  border-radius: 30px;
 
  font-size: 16px;
  font-weight: 500;
  line-height: 23.2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-btn.filled {
  background-color: rgba(255, 190, 13, 1);
  color: rgba(0, 0, 0, 1);
  padding: 18px 0;
  border: none;
  width: 326.66px;
  /* height: 58px; */
  padding-top: 17px;
  padding-right: 111.1px;
  padding-bottom: 17px;
  padding-left: 111.09px;
  gap: 8px;
  border-radius: 30px;
 
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23.2px;
}

.pricing-btn.outlined {
  border: 1px solid rgba(49, 49, 49, 1);
  background: transparent;
  color: rgba(255, 255, 255, 1);
  padding: 17px 0;

  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23.2px;
}

.pricing-project-card {
  display: flex;
  flex-direction: column;
  gap: 22px;

  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23.2px;
  color: rgba(255, 255, 255, 1);
}

.project-info {
  background: #141414;
  border: 1px solid #313131;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #FFFFFF;
  /* height: 413.5px; */
  padding: 36px;
}

.pricing-desc {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23.2px;
}

.project-btn {
  padding: 17px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #313131;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;
  line-height: 23.2px;
}

.referral-box {
  background: #141414;
  border: 1px solid #313131;
  border-radius: 25px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.referral-texts {
  position: relative;
  gap: 16.99px;
  top: 0;
}

.referral-texts h3 {
  margin: 0;
  top: 0;
  font-size: 36px;
  font-weight: 400;
}

.referral-texts p {
  font-size: 16px;
}

.join-btn {
  padding: 18px;
  border-radius: 30px;
  border: 1px solid #313131;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-style: normal;
  line-height: 23.2px;
}
