

.about-wrapper {
  
  padding: 0px 100px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* Top section */
.about-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  align-items: stretch;
  flex-wrap: nowrap;
}

.about-video-placeholder {
  width: 479px;
  height: 323px;
  padding: 1px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.about-testimonial-box {
  width: 739px;
  height: 323px;
  padding: 0 40px;
  border-radius: 25px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
}

.leaf-icon {
  width: 37px;
  height: 82.75px;
  flex-shrink: 0;
}

.testimonial-content {
  max-width: 586px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.testimonial-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.2px;
  color: #ddd;
}

.testimonial-author {
  font-size: 16px;
  line-height: 23.2px;
  color: #aaa;
  margin: 0;
}

/* Bottom section */
.about-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #333;
  padding: 41px;
  border-radius: 25px;
  margin-top: 60px;
}

.about-title {
  width: 317px;
  font-weight: 200;
  font-size: 40px;
  line-height: 44.4px;
}

.about-description {
  width: 739px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.2px;
  color: #ccc;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  position: relative;
}

.author-box {
  width: 185px;
  padding: 6px 20px 6px 21px;
  border-left: 1px solid #555;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author-name,
.author-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.2px;
  color: #ccc;
  margin: 0;
}

.right-leaf {
  height: 64px;
  width: 37px;
}
